@model QLHoiThaoProject.Models.EFModel.QUANLYHT
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section IndexAdmin{
    Quản lý Phân công cán bộ
}
<h3>Bạn có chắc muốn xóa?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            Tên cán bộ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CBQUANLY.TENCB)
        </dd>

        <dt>
            Tên hôi thao
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOITHAO.TENHT)
        </dd>

        <dt>
            Ghi chú
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHICHU)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
