@model QLHoiThaoProject.Models.EFModel.CBQUANLY

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section IndexAdmin{
    Quản lý Cán bộ quản lý
}

<div class="row">
    <ol class="breadcrumb">
        <li class="active">Thêm Cán bộ quản lý mới</li>
    </ol>
</div><!--/.row-->
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
   
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2">Họ tên</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TENCB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TENCB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           <div class="control-label col-md-2">Email</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMAILCB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMAILCB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Số điện thoại</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDTCB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDTCB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Tên đăng nhập</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Mật khẩu</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PASWORD, new { htmlAttributes = new { @class = "form-control", @type="password" } })
                @Html.ValidationMessageFor(model => model.PASWORD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn" type="submit">@Html.ActionLink("Hủy", "Index", "CBQUANLies")</button>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
