@model QLHoiThaoProject.Models.EFModel.CBQUANLY

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section IndexAdmin{
    Quản lý Cán bộ quản lý
}
<div class="row">
    <ol class="breadcrumb">
        <li class="active">Thông tin Cán bộ quản lý</li>
    </ol>
</div><!--/.row-->

<div>

    <dl class="dl-horizontal">
        <dt>
           Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENCB)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAILCB)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDTCB)
        </dd>

        <dt>
            Tên đăng nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERNAME)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASWORD)
        </dd>

        <dt>
            
        </dt>

        <dd>
            <button class="btn">@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</button>
            <button class="btn">@Html.ActionLink("Quay lại", "Index")</button>
        </dd>
               
    </dl>
</div>

