@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<QLHoiThaoProject.Models.EFModel.NGANH>

@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section IndexAdmin{
    Quản lý Ngành
}
<div class="row">
    <ol class="breadcrumb">
        <li class="active">Kết quả tìm kiếm</li>
    </ol>
</div><!--/.row-->
<div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-1 btn">Tìm kiếm:</div>
    <div class="col-lg-5">
        @*<form role="search">*@
        @*<div class="form-group">*@
        <input type="text" class="form-control" id="SeachName" placeholder="Nhập tên ngành cần tìm" />
        @*<button class="btn btn-default" id="btnSearch" type="submit">Search</button>*@
        @*</div>*@


    </div>

</div>
<p>
    <button class="btn btn-default" type="submit">@Html.ActionLink("Quay lại danh sách", "Index")</button>
</p>

Tìm được @ViewBag.Count kết quả

<table class="table table-hover">
    <thead>
        <tr class="titleTable">
            <th>Mã ngành</th>
            <th>Tên ngành</th>
            <th>Tùy chọn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDNGANH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TENNGANH)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IDNGANH }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.IDNGANH }) |
                    <a href="#" class="RemoveLink" data-id="@item.IDNGANH" data-username="@item.TENNGANH">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-lg-3">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3">Hiển thị @Model.Count/@ViewBag.Count ngành</div>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
        <div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </div>
    </div>
</div>
<script type="text/javascript">
        $(function () {
            $('.RemoveLink').click(function () {
                var x = $(this).attr("data-id");
                var name = $(this).attr("data-username");
                if (confirm("Bạn có chắc xóa ngành " + name + "?")) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete", "NGANHs")',
                        data: { id: x },
                        success: function () {
                            alert("Xóa thành công!");
                            window.location.reload();
                        },
                    });
                }
            })

            $('#SeachName').keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    var Name = $('#SeachName').val();
                    var url = '@Url.Action("Search", "NGANHs", new { Name = "_Name" })'
                    var link = url.replace("_Name", Name);
                    location.href = link;
                }
            });
        })
</script>
