@model QLHoiThaoProject.Models.EFModel.TRONGTAI

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section IndexAdmin{
    Quản lý Trọng tài
}
<div class="row">
    <ol class="breadcrumb">
        <li class="active">Thông tin trọng tài</li>
    </ol>
</div><!--/.row-->

<div>

    <dl class="dl-horizontal">
        <dt>
            Tên trọng tài
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENTRONGTAI)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>

        </dt>

        <dd>
            <button class="btn">@Html.ActionLink("Edit", "Edit", new { id = Model.IDTRONGTAI })</button>
            <button class="btn">@Html.ActionLink("Back to List", "Index")</button>
        </dd>

    </dl>
</div>

