@model QLHoiThaoProject.Models.EFModel.TRANDAU

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li class="active">Thêm trận đấu mới</li>
    </ol>
</div><!--/.row-->

@foreach (var bangdau in ViewBag.BANGDAU) {
    
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IDVONGDAU, "IDVONGDAU", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Hidden("idvongdau",ViewData["IDVONGDAU"])
                @Html.TextBox("tenvongdau",ViewData["TENVONGDAU"], htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                @*@Html.DropDownList("IDVONGDAU", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDVONGDAU, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="control-label col-md-2" style="margin-left:10px;">Đội thi đấu</div>
                <div class="col-md-4">
                    @Html.DropDownList("text1", (SelectList)ViewBag.DOI, htmlAttributes: new { @class = "form-control" })                
                </div>
                <div class="col-md-1"> thi đấu với </div>
                <div class="col-md-4">
                    @Html.DropDownList("text2", (SelectList)ViewBag.DOI, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDTRONGTAI, "IDTRONGTAI", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDTRONGTAI", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDTRONGTAI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDSTD, "IDSTD", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDSTD", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDSTD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.THOIGIANBD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.THOIGIANBD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.THOIGIANBD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.THOIGIANKT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.THOIGIANKT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.THOIGIANKT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NGAYTHIDAU, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NGAYTHIDAU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NGAYTHIDAU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.TRANGTHAI, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">Trạng thái</div>
            <div class="col-md-10">
                <div class="checkbox">
                    <input type="text" value="False" class="form-control" disabled/>
                    @*@Html.EditorFor(model => model.TRANGTHAI, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.TRANGTHAI, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Quay lại", "Index")
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
}

