@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<QLHoiThaoProject.Models.EFModel.COMTD>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section IndexAdmin{
    Quản lý Môn thi đấu trong hội thao
}
<div class="row">
    <ol class="breadcrumb">
        <li class="active">Danh sách Môn thi đấu trong hội thao</li>
    </ol>
</div><!--/.row-->

<p>
    <button class="btn btn-default" type="submit">@Html.ActionLink("Thêm mới", "Create")</button>
</p>

<table class="table table-hover">
    <tr>
        <th>
            Tên hội thao
        </th>
        <th>
            Tên môn thi đấu
        </th>
        <th>
            Ghi chú
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HOITHAO.TENHT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MONTHIDAU.TENMTD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GHICHU)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id=item.IDMTD, idht=item.IDHT }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.IDMTD, idht = item.IDHT }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.IDMTD, idht = item.IDHT })
            </td>
        </tr>
    }

</table>
<div class="row">
    <div class="col-lg-3">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3">Hiển thị @Model.Count/@ViewBag.Count dòng</div>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
        <div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </div>
    </div>
</div>
