@model QLHoiThaoProject.Models.EFModel.LIENHE

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid f">
    <div class="container f">
        <div class="panel panel-primary">
            <div class="row">
                <div class="col-md-9">
                    <div id="bookbody" style="width:1106px;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">LIÊN HỆ</div>
                                    <div class="panel-body" style="padding-bottom: 0px;">
                                        <div class="row">

                                            @using (Html.BeginForm())
                                            {
                                                @Html.AntiForgeryToken()

                                                <div class="form-horizontal">
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <div class="form-group">
                                                        <div class="control-label col-md-3">Tên đơn vị</div>
                                                        <div class="col-md-6">
                                                            @Html.EditorFor(model => model.DONVI, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.DONVI, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="control-label col-md-3">Tiêu đề</div>
                                                        <div class="col-md-6">
                                                            @Html.EditorFor(model => model.TIEUDE, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.TIEUDE, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="control-label col-md-3">Nội dung</div>
                                                        <div class="col-md-6">
                                                            @Html.TextAreaFor(model => model.NOIDUNG,5,82, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.NOIDUNG, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-offset-3 col-md-6">
                                                            <button class="btn">@Html.ActionLink("Trở về", "Index", "Home")</button>
                                                            <input type="submit" value="Gửi" class="btn btn-primary" />
                                                        </div>
                                                    </div>
                                                </div>
                                            }
</div>
</div></div></div></div></div></div></div></div></div></div>