@model QLHoiThaoProject.Models.DOI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DOI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BANGDAU.TENBANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BANGDAU.TENBANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOITHAO.TENHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOITHAO.TENHT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOP.TENLOP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOP.TENLOP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTHIDAU.TENMTD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTHIDAU.TENMTD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BILOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BILOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENDOI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENDOI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDDOI }) |
    @Html.ActionLink("Back to List", "Index")
</p>
