@model IEnumerable<QLHoiThaoProject.Models.DOI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BANGDAU.TENBANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOITHAO.TENHT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOP.TENLOP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MONTHIDAU.TENMTD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BILOAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TENDOI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BANGDAU.TENBANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOITHAO.TENHT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOP.TENLOP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MONTHIDAU.TENMTD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BILOAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENDOI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDDOI }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDDOI }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDDOI })
        </td>
    </tr>
}

</table>
